#hdrum-vidget {
	max-width: 1000px;
	margin: auto;
	position: relative;
}
.hd-drum {
	font-size: min(1vh, .96vw, 5px);
	position: relative;
	width: 100em;
	height: 100em;
	margin: auto;
	box-shadow: 1em 1.5em 2.6em #0006;
	background: url(images/pantam-800.webp) center/cover;
	border-radius:50%;
	overflow: hidden;
}
.hd-drum>svg {
	position: absolute;
	left: 0;
	top:0;
	width: 100em;
	height: 100em;
	/* pointer-events: fill; */
	filter: invert(0.001) drop-shadow(0px 0 3px #5557) drop-shadow(1px 0 0px #fff9);
}
.hd-drum>svg:last-child {
	filter: blur(1px) drop-shadow(0px 0 1px #4445) drop-shadow(1px 0 3px #fff) drop-shadow(-1px 0 6px #ffc) drop-shadow(0px 0 6px #fff);
}

.hd-drum>svg>g {
	transform: matrix(1.16, 0, 0, 1.16, -34, -30);
}
.hd-drum rect {
	fill: transparent;
	touch-action: none;
	/* cursor: pointer; */
}
.hd-drum path {
	stroke: #010203;
	stroke-width: 1.1px;
	mix-blend-mode: luminosity;
}
.hd-drum g[data-petal] path {
	stroke: #ffc;
	stroke-width: 1.2px;
}
.hd-drum g[data-petal] {
	opacity: 0;
	transition: .6s opacity;
}
.hd-drum g[data-petal].hover {
	opacity: 0.7;
}
.hd-drum g[data-petal].active {
	opacity: 1;
	transition: .8s opacity cubic-bezier(0.1, 0.03, 0.1, 1);
}

