#hdrum-vidget {
	max-width: 1000px;
	margin: auto;
	position: relative;
	text-align: center;
}
#hdrum-vidget svg{
	display: block;
}

.hd-drum {
	font-size: min(1vh, .96vw, 7px);
	position: relative;
	width: 100em;
	height: 100em;
	margin: auto;
	box-shadow: 1em 1.5em 2.6em #0006;
	background: url(images/pantam-800.webp) center/cover;
	border-radius:50%;
	margin-bottom: 2rem;
	/* overflow: hidden; */
}
.hd-drum>svg {
	position: absolute;
	left: 0;
	top:0;
	width: 100em;
	height: 100em;
	/* pointer-events: fill; */
	filter: drop-shadow(0px 0px 1px #333a) drop-shadow(1px 0px 0px #fff);
	mix-blend-mode: hard-light;
}
.hd-drum>svg:last-child {
	filter: blur(1px) drop-shadow(0px 0 1px #4445) drop-shadow(1px 0 3px #fff) drop-shadow(-1px 0 6px #ffc) drop-shadow(0px 0 6px #fff);
	mix-blend-mode: luminosity;
	/* touch-action: none; */
}

.hd-drum>svg>g {
	transform: matrix(1.16, 0, 0, 1.16, -34, -30);
}
.hd-drum rect {
	fill: transparent;
	touch-action: none;
	/* cursor: pointer; */
}
.hd-drum path {
	stroke: #000;
	stroke-width: 1.1px;
}
.hd-drum g[data-petal] path {
	stroke: #ffc;
	stroke-width: 1.2px;
}
.hd-drum g[data-petal] {
	opacity: 0;
	transition: .6s opacity;
}
.hd-drum g[data-petal].hover {
	opacity: 0.7;
}
.hd-drum g[data-petal].active {
	opacity: 1;
	transition: .8s opacity cubic-bezier(0.1, 0.03, 0.1, 1);
}

#hdrum-vidget button {
	padding: 0;
	border: none;
	font: inherit;
	background: transparent;
	cursor: pointer;
	vertical-align: middle;
}

.hd-controls, .hd-player, .hd-controls button {
	display: flex;
	color: #70A8A9;
	justify-content: center;
}
.hd-player, .hd-rec, .hd-listt {
	border-radius: 100px;
	box-shadow: 0 0 0 1px inset;
}
.hd-player {
	overflow: hidden;
	white-space: nowrap;
	transition: .4s;
	width: 400px;
	margin: 0 1em;
	/* padding-right: 16px; */
}
.hd-player:not(.hd-active) {
	width: 0;
	opacity: 0;
	margin: 0;
}
.hd-player [type="range"] {
	width: 100%;
	margin: 0 17px 0 -2px;
}
.hd-rec-play svg>* {
	transition: .3s;
}
.hd-rec-play:not(.hd-active) svg>rect {
	opacity: 0;
}
.hd-rec-play.hd-active svg>g {
	opacity: 0;
}
